.details-container {
    width: 85%;
    margin: 0px auto;
    margin-top: 12vh;
    margin-bottom: 2vh;
    padding: 3vh 3vw;
    border-radius: 15px;
    background-color: var(--hsl-bg-lighter);
}

table{
    border-collapse: collapse;
    border: 1px solid var(--hsl-text);
}

th, td{
    border: 1px solid var(--hsl-text);
    padding: 1vh 1vw;
    color: var(--hsl-text);
}

th {
    background-color: var(--hsl-primary);
}

td {
    background-color: var(--hsl-bg-lighter);
}

/* for the year column */
table tr th:first-child,
table tr td:first-child {
    padding: 1vh 3vw;
}

.about-us > h1,p,.why-choose-us > h1, p{
    text-align: left;
}


* {
    box-sizing: border-box;
  }
  
* {box-sizing: border-box;}

.row {
    display: flex;
    gap: 2vh;
}

.column {
    width: 33.33%;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
  
/* Clearfix (clear floats) */
.row::after {
    content: "";
    clear: both;
    display: table;
}

.container {
    position: relative;
    width: 100%;
    max-width: 300px;
    border-radius: 10px;
    overflow: hidden;
}
  
.image {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 10px;
}
  
.overlay {
    position: absolute; 
    top: 0; bottom: 0;
    left: 0; right: 0; 
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.4); /* Black see-through */
    color: #f1f1f1; 
    transition: .5s ease;
    opacity: 0;
    color: white;
    font-size: 1em;    
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container:hover {
    box-shadow: 0px 2px 8px var(--hsl-shadow);
}
  
.container:hover .overlay {
    opacity: 1;
}

.container:hover .image {
    transform: scale(1.2);
}

.btn-wrapper {
    display: block;
}

.button{
  padding: 15px 32px;
  display: inline-block;
}
