.details-container {
    width: 85%;
    margin: 0px auto;
    margin-top: 12vh;
    margin-bottom: 2vh;
    padding: 3vh 3vw;
    border-radius: 15px;
    background-color: var(--hsl-bg-lighter);
}
.details-container img{
    width: 50%;
    height: 100%;
    float: left;
    margin-left: 0%;
}
.details-container::after{
    clear: both;
    content: "";
    display: table;
}
.details-container input[type="text"]#name:hover {
    border-color: #0d1d14;
    
    transform: scale(1.2);
    transition: 0.5s;
}

.details-container input[type="text"]#name{
    border-radius: 150px;
    background-color: rgb(196, 235, 36);
    transition: .3s;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 20px;
}
.details-container input[type="button"]#clear{
    border-radius: 150px;
    background-color: bisque;
    transition: .3s;
    padding:10px;
    margin-top: 10px;
}
.details-container input[type="button"]#clear:hover{
        background-color: aquamarine;
        transform: scale(0.8);
        transition: 1.2s;
}
.details-container textarea{
    background-color: rgb(196, 235, 36);
    transition: .3s;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 20px;
}
.details-container textarea:hover{
    transform: scale(1.2);
    transition: 0.5s;
}
#mysection {
    background-color: rgb(220, 201, 238);
    height: 100%;
}
