/* This file contains styles that will be used accross all pages */
/* default everything to 0 margin and 0 padding, will add them for specific elems*/
* {
  margin: 0;
  padding: 0;
  transition: .3s;
  text-align: center;
}

/* variables */
:root {
  /* color for text/primary color */
  --h: 220;
  --s: 100%;
  --l: 50%;
  --hsl-primary: hsl(var(--h), var(--s), var(--l));

  /* color for error */
  --h-invalid: 340;
  --s-invalid: 90%;
  --l-invalid: 65%;
  --hsl-invalid: hsl(var(--h-invalid), var(--s-invalid), var(--l-invalid));

  /* tweaked color to apply a matching secondary color (mostly for element background) based on primary color*/
  --s-secondary: 40%;
  --l-secondary: 80%;
  --hsl-secondary: hsl(var(--h), var(--s-secondary), var(--l-secondary));

  /* text will be black */
  --l-text: 20%;
  --hsl-text: hsl(var(--h), var(--s), var(--l-text));

  --s-text-secondary: 60%;
  --l-text-secondary: 35%;
  --hsl-text-secondary: hsl(var(--h), var(--s-text-secondary), var(--l-text-secondary));

  /* tweaked color to apply a matching bg color (the main body) based on primary color*/
  --s-bg: 50%;
  --l-bg: 100%;
  --hsl-bg: hsl(var(--h), var(--s-bg), var(--l-bg));
  /* bg color with transparency */
  --hsla-bg: hsla(var(--h), var(--s-bg), var(--l-bg), 0.8);

  --hsl-bg-lighter: hsl(var(--h), var(--s-bg), 95%);

  /* to have a background in a background (highlight a container) */
  --hsl-bg-darker: hsl(var(--h), var(--s-bg), 85%);

  /* tweaked color to apply a matching box shadows based on primary color*/
  --s-shadow: 30%;
  --l-shadow: 30%;
  --hsl-shadow: hsl(var(--h), var(--s-shadow), var(--l-shadow));

  --hsla-selection: hsla(var(--h), var(--s), var(--l), 0.4);
}

/* stuffs highlighted by user */
::selection {
  background-color: var(--hsla-selection);
  color: var(--hsl-text);
}

/* apply primary color to all texts */
body {
  color: var(--hsl-primary);
  animation: body-load 1s linear;
}

@keyframes body-load {
  0% {
    opacity: 0;
    transform: scale(1.5);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

#want-bgm-prompt {
  z-index: 9999; /* always be in front */
  position: fixed;
  top: 0; bottom: 0;
  left: 0; right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#prompt-front {
  padding: 2vh 2vw;
  background-color: var(--hsl-bg-lighter);
  border-radius: 15px;
  z-index: 99999;
  width: 50%;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4vh;
  align-items: center;
}

#prompt-front h2 {
  color: var(--hsl-text);
  font-size: 1.15em;
}

#prompt-front a {
  color: var(--hsl-primary);
}

.resp-btns {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 5vw;
}

.resp-btns * {
  width: 25%;
}

#prompt-backdrop {
  background-color: hsla(var(--h), var(--s-shadow), var(--l-shadow), 0.4);
  position: fixed;
  top: 0; bottom: 0;
  left: 0; right: 0;
}

/* fixed styles for both type of headers*/
header {
  z-index: 9999; /* on top everything */
  border-radius: 99999px;  /* css hack for pill shape */
  background-color: var(--hsl-bg-lighter);
  color: var(--hsl-text);
  position: fixed;
  top: 2vh;
  left: 0; right: 0;
  padding: 1vh 3vw;
  margin: 0 auto;
  width: 85%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: .5s;
}

.floating {
  top: 3vh;
  box-shadow: 0px 2px 8px var(--hsl-shadow);
}

header h1 {
  position: relative;
  cursor: pointer;
}

header h1::after {
  position: absolute;
  left: 100%;
  content: "-Spot";
  white-space: nowrap;
  overflow: hidden;
  transition: .2s;
}

nav ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 1vw;
}

nav ul li a {
  display: block;
  opacity: 1;
  padding: .25vh 1vw;
  font-size: 1rem;
  cursor: pointer;
  transition: .2s;
  text-decoration: none;
  color: var(--hsl-text);
}

nav ul li a.nav-active {
  font-weight: bold;
  font-size: 1.5rem;
  color: var(--hsl-primary);
}

/* add hover on the navs to give user feedback on they hovered on something clickable */
nav ul li a:hover {
  font-size: 2rem;
}

.user-menu {
  position: relative;
  cursor: pointer;
}

.user-menu-actions {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 110%;
  right: -100%;
  width: max-content;
  border-radius: 15px;
  background-color: var(--hsl-bg-darker);
  padding: 1vh 1vw;
}

.user-menu-actions a {
  display: block;
  text-decoration: none;
  color: var(--hsl-text);
  padding: 1vh 2vw;
  border-radius: 10px;
}

.user-menu-actions a:hover,
.user-menu-actions a:focus {
  background-color: var(--hsla-selection);
}

.user-menu-actions a:active {
  opacity: .7;
}

/* by default no show menu, will decide which menu to show after user click the icon */
#logged-in-menu, #not-logged-in-menu {
  display: none;
}

.show-user-menu-actions {
  animation: open-user-menu .5s ease;
}

.header-icon {
  height: 5vh;
  width: 5vh;
  stroke: var(--hsl-text) !important;
}

main {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  background-color: var(--hsl-bg);
}

.main-wrapper {
  width: 100%;
  min-height: 100vh;
  height: fit-content;
}

/* only if user can hover only show the expanded and collapsed header */
@media only screen and (hover: hover) {
  /* class for the collapsed header */
  .collapsed {
    width: 50%;
    justify-content: space-between;
  }

  .collapsed h1::after {
    opacity: 0;
    left: 0;
  }

  .collapsed ul {
    gap: 0;
  }
  
  .collapsed .nav-active {
    font-weight: bold;
    font-size: 2rem;
    color: var(--hsl-primary);
  }
  
  .collapsed li a:not(.nav-active) {
    display: none;
    opacity: 0;
  }
}

.action-btn-primary {
  background-color: var(--hsl-primary);
  color: var(--hsl-text);
  font-size: 1.25em;
  padding: 2vh 2vw;
  border-radius: 10px;
  border: 2px solid var(--hsl-primary);
  box-shadow: 2px 2px 4px var(--hsl-shadow);
}

.action-btn-secondary {
  background-color: transparent;
  color: var(--hsl-primary);
  font-size: 1.25em;
  padding: 2vh 2vw;
  border-radius: 10px;
  border: 2px solid var(--hsl-primary);
  box-shadow: 2px 2px 4px var(--hsl-shadow);
}

.action-btn-primary:hover,
.action-btn-primary:focus,
.action-btn-secondary:hover,
.action-btn-secondary:focus {
  transform: translateY(-10%);
  box-shadow: 2px 2px 12px var(--hsl-shadow);
}

.action-btn-primary:active,
.action-btn-secondary:active {
  transform: unset;
}

@keyframes open-user-menu {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

footer {
  background-color: var(--hsl-bg-lighter);
  overflow-x: hidden;
}

footer h1 {
  cursor: pointer;
}

footer *:not(hr) {
  padding: 1vh 1vw;
}

footer hr {
  border: none;
  height: 1px;
  background-color: var(--hsl-primary);
  margin: 0px 2vw;
}

/* .footer-navs {
  margin: 0px auto;
  max-width: 320px;
} */

.footer-header {
  border-radius: 12px;
  margin: 0px 1vw;
  background-color: var(--hsl-bg-darker);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bgm-controls {
  display: flex;
  position: relative;
  align-items: center;
  gap: 1vw;
}

.bgm-controls h2 {
  min-width: max-content;
  opacity: 0;
  transform: translateX(50%);
  pointer-events: none;
}

.bgm-controls * {
  padding: 0px;
  min-width: 2rem;
  cursor: pointer;
}

.bgm-controls svg path {
  fill: var(--hsl-primary);
}

.bgm-controls:hover h2 {
  opacity: 1;
  transform: translateX(0);
  color: var(--hsl-text-secondary);
}

#now-playing {
  color: var(--hsl-primary);
}

.footer-info-wrapper {
  margin-top: 1vh;
  display: grid;
  gap: 2vw;
  grid-template-columns: 1fr 5fr;
}

.footer-links {
  display: flex;
  flex-direction: column;
  background-color: var(--hsl-bg-darker);
  border-radius: 15px;
}

.footer-more-infos {
  background-color: var(--hsl-bg-darker);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.footer-more-infos * {
  text-align: left;
  color: var(--hsl-text);
}

.footer-more-infos a {
  padding: 0;
}

.footer-more-infos a:hover {
  color: var(--hsl-primary);
}

.footer-links a {
  display: block;
  text-decoration: none;
  color: var(--hsl-text);
  font-size: 1.25em;
  border-radius: 10px;
  margin: .5vh 0px;
}

.footer-active {
  background-color: var(--hsl-primary);
  color: var(--hsl-bg) !important;
}

.footer-links a:not(.footer-active):hover {
  background-color: var(--hsla-selection);
}

/* all labels should have a pointer as cursor */
label {
  cursor: pointer;
}

input[type="checkbox"] {
  cursor: pointer;
}

/* disabled button should be more transparent and have no pointer-events, with cursor set to not allowed*/
button:disabled {
  cursor: not-allowed;
  pointer-events: none;
  opacity: .6;
}
