/* styles for details of custom tour */
.details-container {
  width: 85%;
  margin: 0px auto;
  margin-top: 12vh;
  margin-bottom: 2vh;
  padding: 3vh 3vw;
  border-radius: 15px;
  background-color: var(--hsl-bg-lighter);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3vh;
}

.details-container h1 {
  width: 100%;
  padding-bottom: 1vh;
  border-bottom: 2px solid var(--hsl-primary);
}

.details-field-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 3vh;
}

.field-container h2 {
  color: var(--hsl-primary);
  font-size: 2em;
}

.field-container h4 {
  color: var(--hsl-text-secondary);
  font-size: 1.5em;
}

#addInfoField {
  color: var(--hsl-text-secondary);
  font-size: 1.5em;
  font-weight: bold;
  border-radius: 12px;
}

/* use js to toggle data-long class, if data is long, text-align justify is better */
/* right now will define character length of any line > 50 is data-long*/
.data-long {
  text-align: justify;
  width: 80%;
  margin: 0px auto; 
}

.action-btns {
  width: 40%;
  display: flex;
  justify-content: center;
  gap: 2vw;
  margin-top: 2vh;
}

.action-btns * {
  width: 30%;
}
