.details-container {
    width: 85%;
    margin: 0px auto;
    margin-top: 12vh;
    margin-bottom: 2vh;
    padding: 3vh 3vw;
    border-radius: 15px;
    background-color: var(--hsl-bg-lighter);
}

img {
    width: 50%;
    height: 10%;
}

h2 {
    font-weight: 700;
}

.location {
    font-size: 2em;
}

.flex {
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin: 4vh auto;
}

.flex img {
    width: 35%;
}

.flex h1 {
    font-size: 3em;
    color: var(--hsl-text);
    text-align: center;
    display: flex;
    align-items: center;
}

.button {
    display: flex;
    justify-content: center;
    margin-top: 1vh;
    gap: 2vw;
}